.swipeButtons {
    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3);
}

.swipeButtons__favorite {
    padding: 2vw;
    color: #76e2b3;
}

.swipeButtons__close {
    padding: 2vw;
    color: #ec5e6f;
}